<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="mis316CourseSchedulingConnectionString" connectionString="Data Source=miswebapps;Initial Catalog=mis316CourseScheduling;User ID=mis316;Password=learningCode" providerName="System.Data.SqlClient"/>
    <add name="mis316SpiceSuppliesConnectionString" connectionString="Data Source=miswebapps;Initial Catalog=mis316SpiceSupplies;Persist Security Info=True;User ID=mis316;Password=learningCode" providerName="System.Data.SqlClient"/>
    <add name="mis316ComputerStoreConnectionString" connectionString="Data Source=miswebapps;Initial Catalog=mis316ComputerStore;User ID=mis316;Password=learningCode" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>